<div class="cid-shipping-form">
	<div class="step-title"
          data-bind="text: getCidLabel()"
          data-role="title" />
    <span data-bind="text: getCidDescription()"></span>
	<div class="cid-form-body">
	    <form id="cid-shipping-form" class="form form-shipping-cid" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}, event: {change: onFormChange()}">
	        <fieldset class="fieldset">
	            <!-- ko foreach: getRegion('cid-shipping-form-fields') -->
	           <!-- ko template: getTemplate() --><!-- /ko -->
	           <!--/ko-->
	        </fieldset>
	    </form>
	</div>
</div>
