<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
        	<cid>
        		<shipping_enabled>0</shipping_enabled>
        		<billing_enabled>0</billing_enabled>
                <shipping_types>1</shipping_types>
                <billing_types>1</billing_types>
                <billing_label>Identification Document</billing_label>
                <shipping_label>Identification Document</shipping_label>
        	</cid>
        </checkout>
    </default>
</config>
