<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="cid" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer Identification Document</label>
                <field id="shipping_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show on Shipping Step</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="shipping_types" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping Document Types</label>
                    <source_model>Mugar\CustomerIdentificationDocument\Model\Config\Source\Types</source_model>
                    <validate>required-entry validate-select</validate>
                    <depends>
                        <field id="shipping_enabled">1</field>
                    </depends>
                </field>
                <field id="shipping_label" translate="label comment" sortOrder="30" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping Title</label>
                    <comment>Text to show on shipping step.</comment>
                    <depends>
                        <field id="shipping_enabled">1</field>
                    </depends>
                </field>
                <field id="shipping_description" translate="label comment" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping Description</label>
                    <comment>Text to show why the document is needed on shipping step.</comment>
                    <depends>
                        <field id="shipping_enabled">1</field>
                    </depends>
                </field>
                <field id="billing_enabled" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show on Payment Step</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="billing_types" translate="label" type="multiselect" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Billing Document Types</label>
                    <source_model>Mugar\CustomerIdentificationDocument\Model\Config\Source\Types</source_model>
                    <validate>required-entry validate-select</validate>
                    <depends>
                        <field id="billing_enabled">1</field>
                    </depends>
                </field>
                <field id="billing_label" translate="label comment" sortOrder="70" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Billing Title</label>
                    <comment>Text to show on billing step.</comment>
                    <depends>
                        <field id="billing_enabled">1</field>
                    </depends>
                </field>
                <field id="billing_description" translate="label comment" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Billing Description</label>
                    <comment>Text to show why the document is needed on billing step.</comment>
                    <depends>
                        <field id="billing_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
